<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7">
            <a href="/admin/dashboard" class="btn btn-success mb-3">Go Back</a>
            {{>submitted_application application}}  
        </div>
    </div>
</main>
