<main class='container mt-5'>
  <div class='d-flex w-100 flex-column flex-lg-row'>
    <img src='/static/logo.png' alt='main logo' class='d-none d-lg-block' />
    <div class='d-flex flex-column align-self-center mx-auto'>
      <h1 class='display-2 fw-bold'>NodeSchool</h1>
      <p class='lead'>Become Part of the Fastest Growing Schooling Network</p>
      <a
        href='/student/signup'
        class='btn btn-warning align-self-start mt-3'
      >Apply Now</a>
    </div>
  </div>
</main>